{# Set up VirtualHosts - servername and document_root are required. #}
{% for vhost in apache_vhosts %}
<VirtualHost *:{{ apache_listen_port }}>
  ServerName {{ vhost.servername }}
  DocumentRoot {{ vhost.document_root }}
  DirectoryIndex index.php index.html

  <Directory {{ vhost.document_root }}>
    Options -Indexes +Includes +FollowSymLinks +Multiviews
    AllowOverride All
    Require all granted
  </Directory>

  CustomLog /var/log/apache2/{{ vhost.servername }}-access_log common
  ErrorLog /var/log/apache2/{{ vhost.servername }}-error_log

{% if vhost.alias is defined %}
  Alias {{ vhost.alias.url_path }} {{ vhost.alias.file_path }}
  <Directory {{ vhost.alias.file_path }}>
    AllowOverride All
    Allow from All
  </Directory>
{% endif %}

{% if vhost.extra_parameters is defined %}
  {{ vhost.extra_parameters }}
{% endif %}
</VirtualHost>
{% endfor %}